{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }}{% endblock %}


{% block body %}

    {% block top %}
		{{ parent() }}
	{% endblock %}

	<div>
		<div class="leftbodymain">
		</div>

		<div class="bodymain">
			
		</div>

		<div class="rightbodymain">
		</div>
	</div>

	<script>



	</script>

{% endblock %}
