{% extends "screenAddictBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Page principale{% endblock %}


{% block body %}

	{{ form(mesform)}}

	<form action="{{ path('logout') }}" method="post">
		<input type="submit" value="Déconnection" />
	</form>
	<script>
		var list = document.getElementsByTagName("input");
		list[0].onclick = function() {clear()};
		list[0].onfocusout = function() {focusout()};

		function clear()
        {
            list[0].value="";
        }

		function focusout()
        {
            list[0].value="Entrez votre message";
        }

	</script>
{% endblock %}
