.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

#searchBar{
	position:absolute;
	left:25%;
	display : inline-block;
	vertical-align: top;
	width:50%;
	max-height: 60%;
    overflow: auto;
	top:0%;
}

#holderResearch{
	width:300%;
}

#holderMessage{
	width:300%;
}

#ajax-results{
	background-color:#673ab7;
}

#ajax-results a{
	color:white;
	text-decoration: none;
}

#iddivimage{
	display : inline-block;
	vertical-align: top;
}

#iddivinfo{
	display : inline-block;
	vertical-align: top;
	width: 90%;
}

#filmdivimage{
	display : inline-block;
	vertical-align: top;
}

#filmdivinfo{
	display : inline-block;
	vertical-align: top;
	width: 78%;
}

#infos{
}

#infos p{
	text-align: justify;
}

.leftbodymain{
	display : inline-block;
	vertical-align: top;
	width:25%;
}

.bodymain{
	display : inline-block;
	width:50%;
}

#menu{
	background-color:#9a67ea;
}

#menu a{
	background-color:#9a67ea;
	text-decoration: none;
}

#usernamemenu{
	color:black;
	font-weight: bold;
}

hr{
	height: 3px;
	color:#673ab7;
}

#switchamifilm{
	position:absolute;
	left:60%;
	background-color:#9a67ea;
}

.onoffswitch {
	position:absolute;
	left:20%; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 0px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 26px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
    border: 2px solid transparent;
    background-clip: padding-box;
}
.onoffswitch-inner:before {
    content: "Films";
    padding-left: 10px;
    background-color: #673AB7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Amis";
    padding-right: 10px;
    background-color: #673AB7; color: #ffffff;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 0px;
    background: #9A67EA;
    position: absolute; top: 0; bottom: 0;
    right: 65px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
